{% extends 'base.html' %}

{% block title %}Thống kê hệ thống{% endblock %}

{% block content %}

{% load currency_filters %}

{% if user.is_staff %}
    <h1 class="page-title">Bảng quản lý hệ thống</h1>
    <p class="page-subtitle">Theo dõi toàn bộ lịch hẹn và tình trạng xử lý.</p>
{% else %}
    <h1 class="page-title">Trang nhân viên</h1>
    <p class="page-subtitle">Xem và xử lý các lịch hẹn của khách hàng.</p>
{% endif %}

<div class="stats-grid" id="revenue">
    <div class="stat-card">
        <h3>Tổng lịch hẹn</h3>
        <p>{{ total }}</p>
    </div>

    <div class="stat-card">
        <h3>Chờ xác nhận</h3>
        <p>{{ pending }}</p>
    </div>

    <div class="stat-card">
        <h3>Đã xác nhận</h3>
        <p>{{ confirmed }}</p>
    </div>

    <div class="stat-card">
        <h3>Hoàn thành</h3>
        <p>{{ completed }}</p>
    </div>

    <div class="stat-card">
        <h3>Đã hủy</h3>
        <p>{{ cancelled }}</p>
    </div>
    

    <div class="stat-card">
        <h3>Lịch hôm nay</h3>
        <p>{{ today_appointments }}</p>
    </div>
</div>

<h2 style="margin-bottom: 16px;">Danh sách lịch hẹn cần xử lý</h2>

<table>
    <tr>
        <th>Nhân viên</th>
        <th>Khách hàng</th>
        <th>Dịch vụ</th>
        <th>Ngày</th>
        <th>Giờ</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>

    {% for a in appointments %}
    <tr>
        <td>
            {% if a.employee %}
                {{ a.employee.first_name }} {{ a.employee.last_name }}
            {% else %}
                Chưa phân công
            {% endif %}
        </td>
        <td>{{ a.customer.first_name }} {{ a.customer.last_name }}</td>
        <td>{{ a.service.name }}</td>
        <td>{{ a.appointment_date }}</td>
        <td>{{ a.appointment_time }}</td>
        <td>{{ a.get_status_display }}</td>
        <td>
           {% if a.status == 'cancelled' %}
            <span class="status-muted">Không thể thao tác</span>
            {% elif a.status == 'completed' %}
            <span class="status-success">Đã hoàn thành</span>
            {% else %}
            <select class="action-select" onchange="if(this.value) window.location.href=this.value;">
            <option value="">Chọn thao tác</option>
                {% if not a.employee %}
                        <option value="/dashboard/assign/{{ a.id }}/">Nhận xử lý</option>
                    {% endif %}

                    {% if a.status == 'pending' %}
                        <option value="/dashboard/update-status/{{ a.id }}/confirmed/">Xác nhận</option>
                    {% endif %}

                    {% if a.status == 'confirmed' %}
                        <option value="/dashboard/update-status/{{ a.id }}/completed/">Hoàn thành</option>
                    {% endif %}

                    <option value="/dashboard/update-status/{{ a.id }}/cancelled/">Hủy lịch</option>
        </select>
    {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}