<!DOCTYPE html>
<html>
<head>
    <title>Thống kê hệ thống</title>
</head>
<body>

<div style="background:#333; padding:10px;">
    <a href="/services/" style="color:white; margin-right:20px;">Trang chủ</a>
    <a href="/appointments/my/" style="color:white; margin-right:20px;">Lịch của tôi</a>
    <a href="/dashboard/" style="color:white; margin-right:20px;">Thống kê</a>
    <a href="/admin/" style="color:white;">Quản trị</a>
</div>

<h1>Thống kê hệ thống</h1>

<div style="display:flex; gap:20px; margin:20px;">

    <div style="border:1px solid #ccc; padding:20px; width:200px; border-radius:10px;">
        <h3>Tổng lịch hẹn</h3>
        <h1>{{ total }}</h1>
    </div>

    <div style="border:1px solid #ccc; padding:20px; width:200px; border-radius:10px;">
        <h3>Chờ xác nhận</h3>
        <h1>{{ pending }}</h1>
    </div>

    <div style="border:1px solid #ccc; padding:20px; width:200px; border-radius:10px;">
        <h3>Đã xác nhận</h3>
        <h1>{{ confirmed }}</h1>
    </div>

    <div style="border:1px solid #ccc; padding:20px; width:200px; border-radius:10px;">
        <h3>Hoàn thành</h3>
        <h1>{{ completed }}</h1>
    </div>

    <div style="border:1px solid #ccc; padding:20px; width:200px; border-radius:10px;">
        <h3>Đã hủy</h3>
        <h1>{{ cancelled }}</h1>
    </div>

</div>

<h2>Danh sách lịch hẹn</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Khách hàng</th>
        <th>Dịch vụ</th>
        <th>Ngày</th>
        <th>Giờ</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>

    {% for a in appointments %}
    <tr>
        <td>{{ a.customer.username }}</td>
        <td>{{ a.service.name }}</td>
        <td>{{ a.appointment_date }}</td>
        <td>{{ a.appointment_time }}</td>
        <td>{{ a.get_status_display }}</td>
        <td>
            {% if a.status == 'cancelled' %}
        Không thể thao tác
    {% elif a.status == 'completed' %}
        Đã hoàn thành
    {% else %}
        <a href="/dashboard/update-status/{{ a.id }}/confirmed/">Xác nhận</a> |
        <a href="/dashboard/update-status/{{ a.id }}/completed/">Hoàn thành</a> |
        <a href="/dashboard/update-status/{{ a.id }}/cancelled/">Hủy</a>
    {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>