{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spa Booking{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<script>
let currentSlide = 0;

function showSlide(index) {
    const slides = document.querySelectorAll('.hero-slide');
    const dots = document.querySelectorAll('.dot');

    if (slides.length === 0) return;

    slides[currentSlide].classList.remove('active');
    if (dots.length > 0) {
        dots[currentSlide].classList.remove('active');
    }

    currentSlide = (index + slides.length) % slides.length;

    slides[currentSlide].classList.add('active');
    if (dots.length > 0) {
        dots[currentSlide].classList.add('active');
    }
}

function changeSlide(step) {
    showSlide(currentSlide + step);
}

function goToSlide(index) {
    showSlide(index);
}

setInterval(function () {
    const slides = document.querySelectorAll('.hero-slide');
    if (slides.length > 0) {
        changeSlide(1);
    }
}, 4000);
</script>

<body>

<nav class="navbar">
    <a href="/services/" class="logo">Serenity Spa</a>

<form method="get" action="/services/" class="search-form" id="searchForm">
    <div class="search-box">
        <input 
            type="text" 
            name="q" 
            id="searchInput"
            placeholder="Tìm dịch vụ..." 
            value="{{ request.GET.q }}"
            autocomplete="off"
        >

        <div class="search-history" id="searchHistory"></div>
    </div>

    <button type="submit">Tìm</button>
</form>

    <div class="nav-links">
        <a href="/services/">Dịch vụ</a>
        <a href="/appointments/my/">Lịch của tôi</a>

       {% if user.is_staff %}
            <a href="/dashboard/">Quản lý</a>
            <a href="/dashboard/revenue/">Doanh thu</a>
        {% elif user.profile.role == 'employee' %}
            <a href="/dashboard/">Trang nhân viên</a>
            <a href="/dashboard/revenue/">Doanh thu</a>
        {% endif %}

        {% if user.is_authenticated %}
            <span>{{ user.first_name }} {{ user.last_name }}</span>
            <form method="post" action="/accounts/logout/" style="display:inline;">
    {% csrf_token %}
   <form method="post" action="/user/logout/" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="background:none; border:none; color:white; cursor:pointer; font-weight:500;">
        Đăng xuất
    </button>
</form>
</form>
        {% else %}
            <a href="/user/login/">Đăng nhập</a>
            <a href="/user/register/">Đăng ký</a>
        {% endif %}
    </div>
</nav>

<main class="container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>

</body>
</html>

<script>
const searchForm = document.getElementById('searchForm');
const searchInput = document.getElementById('searchInput');
const searchHistory = document.getElementById('searchHistory');

function showSuggestions(items) {
    searchHistory.innerHTML = '';

    if (items.length === 0) {
        searchHistory.style.display = 'none';
        return;
    }

    items.forEach(item => {
        const div = document.createElement('div');
        div.className = 'search-history-item';
        div.textContent = item;

        div.onclick = function () {
            searchInput.value = item;
            searchForm.submit();
        };

        searchHistory.appendChild(div);
    });

    searchHistory.style.display = 'block';
}

searchInput.addEventListener('input', function () {
    const keyword = searchInput.value.trim();

    if (keyword.length === 0) {
        searchHistory.style.display = 'none';
        return;
    }

    fetch(`/services/suggestions/?q=${keyword}`)
        .then(response => response.json())
        .then(data => {
            showSuggestions(data);
        });
});

searchForm.addEventListener('submit', function () {
    searchHistory.style.display = 'none';
});

document.addEventListener('click', function (e) {
    if (!searchForm.contains(e.target)) {
        searchHistory.style.display = 'none';
    }
});
</script>